@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Salsa&display=swap');


/* Homepage.css */
.event-box {
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust as needed */
    text-align: left;

   
  }


.event-info {
  margin-left: 20px; /* Adjust as needed for spacing */
  width: 50%;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.map {
  width:50%;
  height:100%;
}

.attbutton{
  width: 100px;
}
  
  .event-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .event-description {
    margin-bottom: 10px;
  }
  
  .event-details {
    color: #666; /* Lighter text color for less important details */
    font-size: 0.9em;
  }

  .exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  

